@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), system-ui, sans-serif;
} */
@keyframes float {
  0%, 100% { transform: translateY(0) rotate(-6deg); }
  50% { transform: translateY(-10px) rotate(-6deg); }
}

@keyframes float-delayed {
  0%, 100% { transform: translateY(0) rotate(6deg); }
  50% { transform: translateY(-10px) rotate(6deg); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 4s ease-in-out infinite;
  animation-delay: 2s;
}

:root {
  --font-poppins: var(--font-poppins);
  --font-kurale: var(--font-kurale);
  --font-roboto: var(--font-roboto);
}

body {
  font-family: var(--font-roboto), system-ui, sans-serif;
}